
    {% extends 'layout.html' %}
    
    {% block body %}
    <div class="jumbotron mt-2 text-center bg-dark">
           <h2> Articles </h2>
        </div>
    {% for article in articles %}
        <div class="card mb-2">
            <div class="card-header text-center ">
                <a href="articles/{{article.id}}">
                {{ article.Title }}
            </a>
            </div>
            <div class="card-body text-center">
                {{ article.Body }}
            </div>
        </div>
    {% endfor %}

    {% endblock %}