{% extends 'layout.html' %}
{% from 'includes/_formhelper.html' import render_field %}
{% block body %}
<div class="text-center">
    <h1 class="mt-4" style="letter-spacing: 8px;">Welcome {{ session.username }}</h1>

    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-8">
                    {% for article in articles %}
                    <div class="card mb-2 mb-5">
                        <div class="card-header text-center h1">
                            <a href="/articles/{{article[0]}}">
                            {{ article[1] }}
                        </a>
                        </div>
                        <div class="card-body text-center row h3">
                            <div class="col-md-8">{{ article[3] | safe }}</div>
                            <div class="col-md-2"><a href="/e/{{article[0]}}" class="btn btn-outline-success mt-2 mb-2">Edit</a></div>
                            <div class="col-md-2"><a href="/d/{{article[0]}}" class="btn btn-outline-danger mt-2 mb-2">Delete</a></div>
                        </div>
                        <div class="card-footer inline">
                            Author : {{ article[2] }}
                            <small style="margin-left: 200px;">created-at : {{ article[4] }}</small> 
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4 card bg-dark mb-5">
                <a href="/add_article" style="height: 100%;" class="btn btn-outline-primary mt-2 mb-2">Add Article</a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}