{% extends 'layout.html' %}
{% from 'includes/_formhelper.html' import render_field %}
{% block body %}
<div class="conatiner text-center bg-light text-dark form-group card mt-4">
    <h1 class="card-header">Register</h1>
    <form action="#" method="POST">
    <div class="card-body">
    <div class="form-group " >
        {{render_field(form.name,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.email,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.username,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.password,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.confirm_password,class_="form-control")}}
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-outline-danger form-control">
    </div>
</div>
</form>
</div>
{% endblock %}